{%extends "base.html"%}
{% block content%}
            <!-- main_slider_area#cc0471 -->
            <section class="main_slider_area">
                <div class="container">
                    <div class="main_slider ">
                        <div class="slider_item" >
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="slider_content"style="background-color:#cc0471;border-radius:100px;box-shadow: 12px 12px 2px 1px grey";>
                                        <h2 data-splitting>A software for all salon size  <strong>business</strong></h2>
                                       <!-- <a href="#" class="theme_btn btn_white">See Campaign</a>-->
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="slider_img_info">
                                        <div class="slider_img">
                                            <img src="{{url_for('static',filename='images/WhatsApp Image 2021-01-02 at 5.50.03 PM.jpeg')}}" alt=""style="border-radius:50px 50px;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
                                        </div>
                                       <!-- <ul class="social_icon">
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Instagram</a></li>
                                        </ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="slider_item">
                            <div class="row">
                                <div class="col-md-4 d-flex align-items-center">
                                    <div class="slider_content"style="background-color:#cc0471;border-radius:100px;box-shadow: 12px 12px 2px 1px grey;">
                                        <h2 data-splitting>The Best Salon and Spa Management <strong>Software</strong></h2>
                                       <!-- <a href="#" class="theme_btn btn_white">See Campaign</a>-->
                                    </div>
                                </div>
                                <div class="col-md-10">
                                    <div class="slider_img_info">
                                        <div class="slider_img">
                                            <img src="{{url_for('static',filename='images/d7a11304-5444-4cb8-9972-9941712b139a.jpeg')}}" alt="" style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);border-radius:50px 50px;">
                                        </div>
                                       <!-- <ul class="social_icon">
                                            <li><a href="#">Facebook</a></li>
                                            <li><a href="#">Twitter</a></li>
                                            <li><a href="#">Instagram</a></li>
                                        </ul>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><br><br>
                    <div class="slider_nav">
                        <a href="#" class="prev"><i class="arrow_left"></i></a>
                        <a href="#" class="next"><i class="arrow_right"></i></a>
                    </div>
                </div>
            </section>
            <!-- main_slider_area -->
            <!-- about_area -->
            <section class="about_area">
                <div class="container">
                    <div class="sec_title text-center wow fadeInUp">
                        <h2 style="F">Trusted by the best in the beauty and  <br>wellness industry.</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="about_content text-right wow fadeInUp" data-wow-delay="0.2s">
                                <p>Since we started, our greatest motivation was and is and will continue to be the
                                    satisfaction of our customers. Our creations are constantly studying new solutions
                                    for
                                    you.
                                </p>
                                <a href="#" class="theme_btn">Learn more about the way of working</a>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="fact_item wow fadeInUp" data-wow-delay="0.2s">
                                <div class="counter">68</div><i class="arrow_up"></i>
                                <p>Experts at work</p>
                            </div>
                            <div class="fact_item wow fadeInUp" data-wow-delay="0.4s">
                                <div class="counter">3.7</div>K<i class="arrow_up"></i>
                                <p>Experts at work</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about_area -->
            <!-- portfolio_area -->
           <section class="portfolio_area">
                <div class="container">
                    <div class="row portfolio_gallery">
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/d7a11304-5444-4cb8-9972-9941712b139a.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/7f194e25-b6f5-4cea-89ae-d7da233a034d.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/5804cae4-5dc7-417c-9a6d-ad97e70f2a48.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="portfolio_item">
                                <div class="overlay_img">
                                    <img src="{{url_for('static',filename='images/0863fe6c-11b6-4876-91b0-e5aa8e26e352.jpeg')}}" alt="">
                                    <div class="content">
                                        <a href="portfolio-details.html">
                                            <h3>Art event cover<br> design</h3>
                                        </a>
                                        <a href="#" class="theme_btn">See project</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-right">
                        <a href="#" class="theme_btn">See all projects</a>
                    </div>
                </div>
            </section> -->
            <!-- portfolio_area -->
            <!-- solution_area -->
            <section class="solution_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4" style="background-color:white;border-radius:50px">
                            <div class="sec_title wow fadeInDown">
                                <h2>All the great tools you need to run your Salon, Spa or Wellness business!</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Schedule Appointments</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p>Powerful calendar scheduling features that can handle all your salon appointment bookings.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item wow fadeInDown" data-wow-delay="0.4s">
                                <h3>Manage your clients</h3>
                                <img src="{{url_for('static',filename='images/Add New Customer Address.jpg')}}"style="width:100px;height:100px;">
                                <p>Salon On Click offer a management features with detailed client appointments history, booking preferences, future bookings and contact details.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Sales & Products</h3>
                                <img src="{{url_for('static',filename='images/Products Page.jpg')}}"style="width:100px;height:100px;">
                                <p>Takes care of your salon and Spa pos sales transactions, invoicing, receipts, taxes and retail product management..</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Cashier Dashboard</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p>powerful calendar scheduling features that can handle all your salon appointment bookings.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Real-Time Reports</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p> This feature enables salons manager to check the status of their performance at any given moment and get the most up-to-date results possible. To put it simply, it is the easiest way for businesses to assess their performance right now..</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Stock inventory</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p>powerful calendar scheduling features that can handle all your salon appointment bookings.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Payment processing</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p>powerful calendar scheduling features that can handle all your salon appointment bookings.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 offset-lg-1 col-sm-6">
                            <div class="solution_item first wow fadeInDown" data-wow-delay="0.2s">
                                <h3>Staff management</h3>
                                <img src="{{url_for('static',filename='images/Appointments – 1.jpg')}}"style="width:100px;height:100px;">
                                <p>powerful calendar scheduling features that can handle all your salon appointment bookings.</p>
                                <div class="arrow_btn"><a href="#" class="theme_btn">See more<i
                                            class="arrow_right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- solution_area -->
            <!-- testimonial area -->
            <section class="testimonial_area">
                <div class="container">
                    <div class="testimonial_slider">
                        <div class="item row">
                            <div class="col-lg-7">
                                <div class="testimonial_content">
                                    <div class="icon">“</div>
                                    <h3>Salon On Click <span>System is giving us wonderful results,</span> we will
                                        continue
                                        working together.</h3>
                                    <div class="name">Elina Raiden</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="testimonial_img">
                                    <img src="{{url_for('static',filename='images/FirstTimeSalonManager_1200x940.jpg')}}" alt="" style="width:459px;height:647">
                                </div>
                            </div>
                        </div>
                        <div class="item row">
                            <div class="col-lg-7">
                                <div class="testimonial_content">
                                    <div class="icon">“</div>
                                    <h3>Our marketing <span>campaign is giving us wonderful results,</span> we will
                                        continue
                                        working together.</h3>
                                    <div class="name">Elina Raiden</div>
                                </div>
                            </div>
                            <div class="col-lg-5">
                                <div class="testimonial_img">
                                    <img src="static/img/home-one/testimonial_img.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- testimonial area -->
            <!-- team area -->
            <section class="team_area">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="sec_title wow fadeInDown">
                                <h2>Meet Our New Team Geniuses</h2>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team_item wow fadeInDown" data-wow-delay="0.2s">
                                <a href="#" class="img"><img src="static/img/home-one/team1.jpg" alt=""></a>
                                <h3>Ron Gasul</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team_item wow fadeInDown" data-wow-delay="0.4s">
                                <a href="#" class="img"><img src="static/img/home-one/team2.jpg" alt=""></a>
                                <h3>Idris Olabood</h3>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="team_item wow fadeInDown" data-wow-delay="0.6s">
                                <a href="#" class="img"><img src="static/img/home-one/team3.jpg" alt=""></a>
                                <h3>Arian kon</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team area -->
            <!-- contact area -->

{%endblock%}
